h1 {
	font-family: cursive;
	font-size: x-large;
	font-style: italic;
	color: fuchsia; 
}

.bio {
	font-size: large;
	font-style: italic;
}

.contact {
	font-style: inherit;
	font-size: medium;
}

.name {
	font-size: medium;
	color: fuchsia;
}

body {
	background-color: yellow;
	text-align: center;
}