.name {
	font-family: fantasy;
	font-size: large;
	color: silver;
	text-align: center;
}

.resume, .bio {
	font-size: large;
	color: silver;
	text-align: center;
}

.bio {
	color: yellow;
}

.pic {
	position: absolute;
	margin-left: 10%;
	width: 50px;
	height: 100px;
}

body {
	background-color: pink;
}

