body {
	background-color: rgba(236,240,12,0.51);
	font-size: x-large;
}

.name, .school, .course, .skill {
	color: deepskyblue;
	text-align: center
}

.pro, .pro1, .pro2, .pro3 {
	color: red;
	text-align: center;
}

.activities {
	color: blue;
	text-align: center;
}

h1 {
	font-size: xx-large;
	color: black;
	margin-left: 45%;
}